@media (min-width: 768px) {
	h1.header-title {
		left: 45px;
		width: 280px;
		font-size: 2.9rem;
	}

	h2.section-title {
		font-size: 2.8rem;
	}

	h3.contact-title {
		font-size: 2.6rem;
	}
	.section {
		margin: 4em 0;
	}

	.header {
		position: relative;
		height: 10vh;

		&__top {
			position: relative;
			display: flex;
			justify-content: space-between;
			height: 100%;
			width: 100%;
			padding: 0 1em;
			z-index: 100;

			&-logo {
				position: relative;
				width: 50vw;
				padding: 0 1em;
				z-index: 2;

				img {
					height: 100%;
				}
			}

			&-hamburger {
				display: flex;
				align-items: center;
				padding: 0 2em;
				cursor: pointer;

				// IMPORT HAMBURGER
			}
		}
		.nav {
			&__mobile {
				font-size: 1.9rem;
			}

			&__sub {
				&-item {
					font-size: 1.6rem;
				}
			}

			&__desktop {
				display: none;
			}
		}
	}
	#page {
		.about {
			&__text {
				font-size: 1.8rem;
				line-height: 2em;
			}
		}

		.benefits {
			&__squares {
				.square {
					margin: 1em 0;
					width: 170px;
					height: 170px;

					p {
						font-size: 1.7rem;
					}
				}
			}
		}

		.contact {
			&__list {
				margin-left: 2.5em;
				font-size: 1.8rem;

				&-item {
					margin-bottom: 0.7em;
				}
			}

			&__info {
				font-size: 1.6rem;
			}

			.footer {
				margin-top: 1em;
				padding: 0.6em;
				font-size: 1.4rem;
				background-color: #d6d5d5;

				&__text {
					text-align: center;
				}
			}
		}
	}
}
