@import './colors';
@import './hamburger';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	font-family: 'Poppins', sans-serif;
	background-color: $main;
}

.wrapper {
	margin: 0 auto;
	padding: 0 1em;
	width: 100%;
	max-width: 1200px;
}

h1.header-title {
	position: absolute;
	top: 100px;
	left: 5px;
	width: 170px;
	font-size: 2.3rem;
	font-weight: 300;
	color: $main;
}

h3.contact-title {
	padding: 1em;
	font-size: 2rem;
	font-weight: 500;
	text-align: center;
}

h4.contact-list-title {
	margin-bottom: 0.5em;
	font-size: 1.8rem;
	font-weight: 300;
}

.header {
	position: relative;
	height: 10vh;
	width: 100vw;

	&__top {
		position: relative;
		display: flex;
		justify-content: space-between;
		height: 100%;
		width: 100%;
		padding: 0 1em;
		z-index: 100;

		&-logo {
			position: relative;
			width: 50vw;
			padding: 0 1em;
			z-index: 2;

			img {
				height: 100%;
			}
		}

		&-hamburger {
			display: flex;
			align-items: center;
			padding: 0 2em;
			cursor: pointer;

			// IMPORT HAMBURGER
		}
	}
	.nav {
		position: relative;
		z-index: 1000;

		&__mobile {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			display: none;
			flex-direction: column;
			justify-items: center;
			width: 100%;
			height: 100vh;
			font-size: 1.6rem;
			font-weight: 300;
			background-color: $main;
			list-style: none;
			z-index: 2;
			overflow: hidden;

			&-item {
				padding: 1em 0;
				border-top: 1px solid #dddcda;

				a {
					padding-left: 1em;
					color: black;
					text-decoration: none;
				}

				i {
					position: absolute;
					right: 10%;
				}
			}
		}

		&__sub {
			display: none;
			flex-direction: column;
			padding: 0 2em;
			background-color: #ebebea;

			&-item {
				padding: 0.5em 0;
				font-size: 1.4rem;
			}
		}

		.active {
			display: flex;
		}

		&__desktop {
			display: none;
		}
	}
}

#page {
	overflow: hidden;

	.projects {
		position: relative;

		&__images {
			margin: 2em 0;
			img {
				width: 90%;
				margin: 1em;
			}
		}
	}

	.contact {
		background-color: #e7e4e4;

		&__container {
			margin-left: 1em;

			.contact__header {
				display: flex;
				flex-direction: column;
				margin: 1em 0;
				font-size: 1.6rem;

				transition: 1s all;

				&-title {
					display: flex;
					justify-content: space-between;
					border-bottom: 1px solid black;
				}

				.content {
					display: flex;
					line-height: 25px;

					p.contact-list-address {
						margin-top: 1em;
						font-size: 1.4rem;
						i {
							font-size: 3rem;
							text-decoration: none;
							color: #3b5998;
						}
					}

					.contact__header-list {
						margin-top: 1em;
						font-size: 1.4rem;
						list-style: none;

						i {
							font-size: 2rem;
						}
					}
				}
			}
		}

		&__info {
			margin-top: 2em;
			text-align: center;
			font-size: 1.6rem;
			font-weight: 300;

			a {
				text-decoration: none;
				color: #000;
				font-weight: 500;
			}
		}

		.footer {
			margin-top: 1em;
			padding: 0.6em;
			font-size: 1.4rem;
			background-color: #d6d5d5;

			&__text {
				text-align: center;
			}
		}
	}
}

@import './small';
@import './medium';
@import './large';

@media (min-width: 992px) {
	#page {
		.projects {
			position: relative;

			&__images {
				display: flex;
				align-items: center;
				flex-direction: column;

				img {
					width: 60%;
					margin: 3em 1em;
				}
			}
		}
	}
}
